{%- liquid
  assign title = section.settings.title
  assign description = section.settings.description
-%}


<div>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
</div>

{% schema %}
  {
    "name": "Test-Image-Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Test Image Section"
      }, {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "This is a test image section"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Test-Image-Section"
      }
    ]
  }
{% endschema %}